<!-- User Profile -->
<div class="relative">
    <button onclick="toggleUserMenu()" class="flex items-center space-x-2 focus:outline-none">
        <img src="
                {% if user.profile_picture_url %}{{ user.profile_picture_url }}{% else %}https://ui-avatars.com/api/?name={{ user.email|urlencode }}{% endif %}"
             alt="Profile"
             class="h-8 w-8 rounded-full">
        <span class="text-gray-100 font-medium hidden md:block">{{ user.email }}</span>
    </button>
    <div id="userMenu" class="absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-md hidden" style="display: none;">
        <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a>
    </div>
</div>
